body {
    /*
background-color: #9fcff9;
font-family: Verdana;
color: white;
*/
background-color: rgb(159, 207, 249);
}

#container {
    /*
width: 90%;
margin: auto;
background-color: #0b8ef2;
*/
margin-left: auto;
margin-right: auto;
background-color: #0b8ef2;
width: 90%;
}
header {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;   
}
.logo {
    /*
    width: 400px;
    height: 320px;
    float: left;
    margin-right: 10px;
    */
    width: 100%;
}
nav{
    background-color:#9fcff9 ;
    padding: 1.5em;
    color: white;
}
nav ul{
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
nav li{
    background-color:  #050564; ;
    border-radius: 2em;
    list-style-type: none;
    margin: 1em;
    padding: 0.4em;
    text-align: center;
}
nav li a{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    color: white;
    padding-top: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    clear: both;
    padding: 1em;
    margin-top: 1.5em;
    text-align: left;
    clear: both;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.heading{
    font-size: 1.2em;
    font-weight: bold;
}
.content{
    line-height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 1em;
    padding-bottom: 1em;
}
footer{
    border-top: 0.5em solid #dad7d7;
    text-align: center;
    padding:  1em;
    margin: 0 1em;
}